body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  background: #F9F7F5;
  height: 100vh;
}

body h1 {
  color: #6F5C4C;  
  padding-top: 0;
}

.font-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* .font-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

.font-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}